.box{
    margin: 15px auto;
    width: 300px;
    height: 50px;
  }
  
  .container-1{
width: 300px;
vertical-align: middle;
white-space: nowrap;
position: relative;
}

.container-1 input#search::-webkit-input-placeholder {
 color: black;
}

.container-1 input#search:-moz-placeholder { /* Firefox 18- */
 color: grey;  
}

.container-1 input#search::-moz-placeholder {  /* Firefox 19+ */
 color: black;  
}

.container-1 input#search:-ms-input-placeholder {  
 color: black;  
}

.container-1 .icon{
position: absolute;
top: 50%;
margin-left: 17px;
margin-top: 17px;
z-index: 1;
color: #4f5b66;
}

.container-1 input#search:hover, .container-1 input#search:focus, .container-1 input#search:active{
  outline:none;
  background: #2fcbe0;
}

.container-1 input#search{
    width: 300px;
    height: 50px;
    background: white;
    border: none;
    font-size: 10pt;
    float: left;
    color: black;
    padding-left: 45px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;

    
    -webkit-transition: background .55s ease;
    -moz-transition: background .55s ease;
    -ms-transition: background .55s ease;
    -o-transition: background .55s ease;
    transition: background .55s ease;
}